bin/
obj/
*.deb
.DS_Store
.vscode/

/Views/DebugWindow.axaml
/Views/DebugWindow.axaml.cs
/ViewModels/DebugSecurityManager.cs
/Services/SmsDebugModule.cs
# Ignorowanie folderu środowiska JetBrains IDE
.idea/

# Ignorowanie folderu Library

Library
Folder.DotSettings.user