Source: phonetolinux
Section: utils
Priority: optional
Maintainer: Stanisław Tlołka <stanislawtlolka@gmail.com>
Build-Depends: debhelper-compat (= 13), dotnet-sdk-8.0
Standards-Version: 4.6.2
Homepage: https://github.com/ihusky02/phonetolinux

Package: phonetolinux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Linux bridge for Android smartphones
 A desktop application built with Avalonia that links Android smartphones 
 with Linux systems to handle incoming calls, contacts, and SMS messaging.
