#!/usr/bin/make -f

export HOME = $(CURDIR)/.debian-home
export DOTNET_CLI_HOME = $(CURDIR)/.debian-home
export DOTNET_CLI_TELEMETRY_OPTOUT = 1
export DOTNET_SKIP_FIRST_TIME_EXPERIENCE = 1

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(HOME)
	dotnet restore --configfile nuget.config
	dotnet publish phonetolinux.csproj -c Release -r linux-x64 --self-contained false -p:UseAppHost=false --configfile nuget.config

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(CURDIR)/.debian-home
