[Desktop Entry]
Name=Android Call Bridge
Exec=/opt/androidcallbridge/AndroidCallBridge
Icon=utilities-terminal
Type=Application
Categories=Utility;
Terminal=false
